{% extends 'base.html.twig' %}

{% block content %}
    <h1>Achat</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ achat.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ achat.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('achat_index') }}">Back to the list</a>
        </li>


    </ul>
{% endblock %}
